<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div>
        <header role="banner">
            <img id="logo-main" src="{{ url_for('static', filename='tc0z8r7t.png') }}" width="200"
                alt="Logo Thing main logo">

        </header><!-- header role="banner" -->

        


        {% block content %}

        {% endblock %}
    </div>

    <div class="container-fluid text-white mt-5 pt-5 pb-3 fixed-bottom" style="background-color: #000000;">
        <div class="row">
            <div class="col-md-4 ">
                <h5>kelis_galoree</h5>
                <p>Elevate your beauty with quality thrifted fits </p>
            </div>
            <div class="col-md-4 text-center">
                <h5> Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-decoration-none">Home</a></li>
                    <li><a href="#" class="text-decoration-none">About</a></li>
                    <li><a href="#" class="text-decoration-none">Contact</a></li>
                </ul>
                © 2025 kelis_galoree. All rights reserved.
            </div>
            <div class="col-md-4">
                <h5 class="mb-3">Contact Us</h5>
                <a href="https://www.instagram.com/kelis_galoree/" target="_blank"><i
                        class="fa-brands fa-instagram fa-2xl m-2" style="color: #ffffff; "></i></a>
                <a href="https://www.tiktok.com/@kelis_galoree/" target="_blank"><i class="fa-brands fa-tiktok fa-2xl m-2"
                        style="color: #ffffff;"></i></a>
                <a href="https://wa.me/254702851200" target="_blank"><i
                        class="fa-brands fa-whatsapp fa-2xl m-2" style="color:#ffffff;"></i></a>


            </div>
            <div class="whatsapp">
                <a href="https://wa.me/254702851200" target="_blank"><i
                        class="fa-brands fa-square-whatsapp fa-bounce fa-2xl" style="color: #2b9158;"></i></a>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
        </script>
</body>

</html>